<h1>Movies Index</h1>

<% @movies.each do |movie| %>

    <div>
    <div>Title: <%= movie.title %></div>
    <div>Rating: <%= movie.rating %></div>
    <div>Year: <%= movie.release_year %></div>
 
    <br />


  </div>

<% end %>